*.orig
*.g.i.cs
*.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.lref
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.i.cache
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.cache
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/*.pdb
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/RecommenderAttacksAnalytics_MarkupCompile.lref
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/RecommenderAttacksAnalytics_MarkupCompile.i.cache
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/RecommenderAttacksAnalytics_MarkupCompile.cache
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/RecommenderAttacksAnalytics.pdb.REMOTE.25476.pdb.orig
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Debug/UI/TestUserControl.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/App.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/App.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/GeneratedInternalTypeHelper.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/GeneratedInternalTypeHelper.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/RecommenderAttacksAnalytics_Content.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/DataSourceUploadContainerUC.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/DataSourceUploadContainerUC.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/MainWindow.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/MainWindow.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/ReadFromDatabaseUc.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/ReadFromDatabaseUc.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/ReadTextFileUC.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/ReadTextFileUC.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/SelectItemsUC.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/SelectItemsUC.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/SelectUsersUC.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/SelectUsersUC.g.i.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/TestUC.g.cs
CSharpVersion/RecommenderAttacksAnalytics/obj/x86/Release/UI/TestUC.g.i.cs
