<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="use_proxy_validator">true</property>
    <property name="connection.connection_string">
      Server=localhost;Database=Blog;Uid=root;Pwd=CodeTrix
    </property>

    <mapping resource="RecommenderAttacksAnalytics.Databse.Mappings.DBItem.hbm.xml" assembly="RecommenderAttacksAnalytics.Databse.Mappings" />
    <mapping resource="RecommenderAttacksAnalytics.Databse.Mappings.DBUser.hbm.xml" assembly="RecommenderAttacksAnalytics.Databse.Mappings" />
    <mapping resource="RecommenderAttacksAnalytics.Databse.Mappings.DBUserItemRating.hbm.xml" assembly="RecommenderAttacksAnalytics.Databse.Mappings" />
  </session-factory>
</hibernate-configuration>